<!DOCTYPE html>
<html lang="en">
<head>
    <title>API Call Test</title>
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/basic.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="header col-md-10-">
        <h1 class="header-title">API Response Checker</h1>
    </div>
    <div class="container col-md-12">
        <div class="input-area">
            <div class="url col-md-12">
                <input type="text" class="url-input col-md-8 pull-left" id="url" placeholder="Insert URL to Test">
                <div class="col-md-2">
                    <input type="radio" name="method" value="get" checked="checked"> GET
                    <input type="radio" name="method" value="post"> POST
                </div>
                <button type="submit" class="btn btn-default col-md-2 pull-right" onclick="sendRequest()">전송</button>
            </div>
            <div class="message col-md-12" id="message"></div>
        </div>
        <div class="json-container col-md-12">
            <div class="json-box pull-left">
                <div class="json-title col-md-12">API Arguments</div>
                <textarea class="json-area col-md-12" id="args" placeholder="Insert JSON arguments"></textarea>
            </div>
            <div class="json-box pull-left">
                <div class="json-title col-md-12">Control Group</div>
                <textarea class="json-area col-md-12" id="ctrl-group" placeholder="Insert JSON to comparison"></textarea>
            </div>
        </div>
        <div class="json-container col-md-12">
            <div class="json-box pull-left">
                <div class="json-title col-md-12">API Response</div>
                <textarea class="json-area col-md-12" id="result" placeholder="API Response" readonly="readonly"></textarea>
            </div>
            <div class="json-box pull-left">
                <div class="json-title col-md-12">Response Compare Result</div>
                <textarea class="json-area col-md-12" id="result-compare" placeholder="Response Compare Result" readonly="readonly"></textarea>
            </div>
        </div>
    </div>
</body>
</html>

<script>
    function sendRequest() {
        let msg_area = $("#message");
        let ctrlGroup = $("#ctrl-group").val();
        let callURL = $("#url").val();
        let args = $("#args").val();
        let url = '/smash';
        let method = $(":input[name=method]:checked").val();

        msg_area.hide();
        if (!checkParams(method, ctrlGroup, args, msg_area)) {
            return
        }

        let params = {
            ctrl_group: ctrlGroup,
            args: args,
            url: callURL
        };

        $.ajax({
            type: 'POST',
            url: url,
            data: params,
            dataType: 'json'
        })
            .done((data) => {
                let apiResultArea = $("#result");
                let compareArea = $("#result-compare");

                setResponse(apiResultArea, data.result.api_result);
                setResponse(compareArea, data.result.compare_result);
            })
    }

    function setResponse(obj, data) {
        obj.text(JSON.stringify(data, null, 4))
    }

    function checkParams(method, ctrlGroup, args, msg_area) {
        if ((!IsJsonString(ctrlGroup) || ctrlGroup === '')) {
            setMessageText(msg_area, "Control Group could not parse to JSON");
            return false
        }

        if (!IsJsonString(args)) {
            setMessageText(msg_area, "API Arguments could not parse to JSON");
            return false
        }

        return true
    }

    function setMessageText(msg_area, msg) {
        msg_area.show();
        msg_area.text(msg);
    }

    function IsJsonString(str) {
        if (str.length === 0) {
            return true
        }
        try {
            JSON.parse(str);
        } catch (e) {
            return false
        }
        return true
    }
</script>